/**
 * Variables
 */
/**
 * Scaffolding
 */
* {
  margin: 0;
}

html {
  background: #444;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: #e1e1e1;
  font: 1em/1.5 "Roboto", sans-serif;
  margin: 0 0 0;
  max-width: 150em;
}

h1,
a {
  color: #fff;
  font-weight: 600;
}

label {
  display: block;
}

.title {
  font-family: "Roboto";
}

/**
 * Component: Card
 */
.thumb {
  display: inline-block;
  position: relative;
  float: left;
  margin-right: 5px;
}

.thumb img {
  display: block;
  width: 10rem;
}

.details {
  font-size: 0.66667em;
}

.url {
	font-size: 0.66667em;
	text-decoration: none;
}

/**
 * Component: Button
 */
.Button {
  background: #fff;
  border: 3px solid transparent;
  border-radius: 0.375rem;
  color: #08c;
  cursor: pointer;
  display: inline-block;
  font: inherit;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  padding: 0.5rem 1rem;
}
.Button:focus, .Button:hover {
  color: #00aaff;
}

.Button--primary {
  background: #08c;
  color: #fff !important;
}
.Button--primary:focus, .Button--primary:hover {
  background: #00aaff;
}

/**
 * Component: Tiles
 */
.Tiles {
  font-size: 0;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.Tile {
  display: inline-block;
  font-size: 1rem;
  margin: 0;
  vertical-align: top;
  width: 100%;
}

.Tile-content {
  background: dimgrey;
  border-radius: 0.375rem;
  color: #ffffff;
  margin: 1rem 0.5rem 0;
  min-height: 10em;
  padding: 1rem;
  position: relative;
}

.Tile-content--toggle {
  cursor: pointer;
}
.Tile-content--toggle:focus, .Tile-content--toggle:hover {
  box-shadow: 0 0 0 3px #75d1ff;
  outline: 0;
}

.Tile.is-disabled .Tile-content--toggle {
  cursor: default;
  opacity: 0.5;
}
.Tile.is-disabled .Tile-content--toggle:focus, .Tile.is-disabled .Tile-content--toggle:hover {
  box-shadow: none;
}

.Tile-flyout {
  display: none;
  position: relative;
}

.Tile.is-expanded .Tile-flyout {
  display: block;
}

.Tile-flyout:before {
  background: #fff;
  content: "";
  left: 50%;
  margin-left: -0.5rem;
  position: absolute;
  height: 1rem;
  top: -0.5rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 1rem;
}

/**
 * Breakpoint layout changes
 */
@media (min-width: 30em) {
  .Tile {
    width: 70%;
  }

  .Tile-flyout {
    width: 200%;
  }

  .Tile:nth-child(2n+1) .Tile-flyout {
    margin-left: 0%;
  }
  .Tile:nth-child(2n+1) .Tile-flyout:before {
    left: 25%;
  }

  .Tile:nth-child(2n+2) .Tile-flyout {
    margin-left: -100%;
  }
  .Tile:nth-child(2n+2) .Tile-flyout:before {
    left: 75%;
  }
}
@media (min-width: 48em) {
  .Tile {
    width: 33.33333%;
  }

  .Tile-flyout {
    width: 300%;
  }

  .Tile:nth-child(3n+1) .Tile-flyout {
    margin-left: 0%;
  }
  .Tile:nth-child(3n+1) .Tile-flyout:before {
    left: 16.66667%;
  }

  .Tile:nth-child(3n+2) .Tile-flyout {
    margin-left: -100%;
  }
  .Tile:nth-child(3n+2) .Tile-flyout:before {
    left: 50%;
  }

  .Tile:nth-child(3n+3) .Tile-flyout {
    margin-left: -200%;
  }
  .Tile:nth-child(3n+3) .Tile-flyout:before {
    left: 83.33333%;
  }
}
@media (min-width: 64em) {
  .Tile {
    width: 25%;
  }

  .Tile-flyout {
    width: 400%;
  }

  .Tile:nth-child(4n+1) .Tile-flyout {
    margin-left: 0%;
  }
  .Tile:nth-child(4n+1) .Tile-flyout:before {
    left: 12.5%;
  }

  .Tile:nth-child(4n+2) .Tile-flyout {
    margin-left: -100%;
  }
  .Tile:nth-child(4n+2) .Tile-flyout:before {
    left: 37.5%;
  }

  .Tile:nth-child(4n+3) .Tile-flyout {
    margin-left: -200%;
  }
  .Tile:nth-child(4n+3) .Tile-flyout:before {
    left: 62.5%;
  }

  .Tile:nth-child(4n+4) .Tile-flyout {
    margin-left: -300%;
  }
  .Tile:nth-child(4n+4) .Tile-flyout:before {
    left: 87.5%;
  }
}
/**
 * Utilities: Space
 */
.u-marginTop {
  margin-top: 1rem;
}

@media (min-width: 48em) {
  .u-md-no-marginTop {
    margin-top: 0;
  }
}
/**
 * Utilities: Size
 *
 * https://github.com/suitcss/utils-size/
 */
.u-size1of2 {
  width: 50% !important;
}

@media (min-width: 48em) {
  .u-md-size1of2 {
    width: 50% !important;
  }
}
/**
 * Utilities: Text
 * 
 * https://github.com/suitcss/utils-text/
 */
.u-textCenter {
  text-align: center !important;
}

.u-textRight {
  text-align: right !important;
}

/** loading

*/



